In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Source

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Market Basket Analysis/Online Retail.xlsx')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
  
df['InvoiceNo'] = df['InvoiceNo'].astype('str') 
df = df[~df['InvoiceNo'].str.contains('C')]

In [ ]:
basket = (df[df['Country'] =="France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0

[5 rows x 1563 columns]

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)
 
#menghapus kolom postage
basket_sets.drop('POSTAGE', inplace=True, axis=1)
basket_sets.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                            0  ...                                0
536852                            0  ...                                0
536974                            0  ...                                0
537065                            0  ...                                0
537463                            0  ...                                0

[5 rows x 1562 columns]

In [ ]:
# Build up the frequent items 
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
frequent_itemsets.head()

    support                        itemsets
0  0.071429   (4 TRADITIONAL SPINNING TOPS)
1  0.096939    (ALARM CLOCK BAKELIKE GREEN)
2  0.102041     (ALARM CLOCK BAKELIKE PINK)
3  0.094388      (ALARM CLOCK BAKELIKE RED)
4  0.081633  (BAKING SET 9 PIECE RETROSPOT)

In [ ]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

                                          antecedents  ... conviction
0                        (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
1                         (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
2                          (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3                        (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
4                          (ALARM CLOCK BAKELIKE RED)  ...   4.153061
5                         (ALARM CLOCK BAKELIKE PINK)  ...   3.293135
6                              (DOLLY GIRL LUNCH BOX)  ...   3.102273
7                                (SPACEBOY LUNCH BOX)  ...   2.101190
8                     (PLASTERS IN TIN CIRCUS PARADE)  ...   1.835747
9                          (PLASTERS IN TIN SPACEBOY)  ...   2.363588
10                    (PLASTERS IN TIN CIRCUS PARADE)  ...   2.104592
11                 (PLASTERS IN TIN WOODLAND ANIMALS)  ...   2.063681
12                         (PLASTERS IN TIN SPACEBOY)  ...   3.443878
13                 (PLASTERS IN TIN WOODLAND ANIMALS)  ...   2.221939
14               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.736395
15                      (SET/6 RED SPOTTY PAPER CUPS)  ...   3.345481
16                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.336735
17               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.780612
18                    (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
19                      (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041
20  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796
21  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...  ...   4.625850
22  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959
23                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.081633
24               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.510204
25                      (SET/6 RED SPOTTY PAPER CUPS)  ...   3.232653

[26 rows x 9 columns]

In [ ]:
rules[ (rules['lift'] >= 6) &
       (rules['confidence'] >= 0.8) ]

                                          antecedents  ... conviction
2                          (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3                        (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
16                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.336735
18                    (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
19                      (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041
20  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796
21  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...  ...   4.625850
22  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959

[8 rows x 9 columns]

In [ ]:
df_final = rules[ (rules['lift'] >= 6) &
       (rules['confidence'] >= 0.8) ]

In [ ]:
df_final.to_csv('/content/drive/MyDrive/Market Basket Analysis/outputMBA.csv')

# Data STI

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Market Basket Analysis/prod/STI/STI_Market_Basket_Analysis_11.csv')
df.head()

   CustomerID    ItemID  ...    PostingDate                     Description
0    100002.0  102535.0  ...  28-11-20 0:00                     FOX LEM 168
1    100002.0  102578.0  ...       06-12-19            MC ACRYLIC  3MM L000
2    100002.0  102908.0  ...       07-11-19  NIPPON RESIBON D.WHEEL 4IN BSH
3    100002.0  102908.0  ...       18-05-19  NIPPON RESIBON D.WHEEL 4IN BSH
4    100002.0  102908.0  ...       03-09-19  NIPPON RESIBON D.WHEEL 4IN BSH

[5 rows x 7 columns]

In [ ]:
df['ItemID'] = df['ItemID'].astype(int)
#df['Description'] = df['Description'].str.strip()
#df['ItemName'] = df['ItemName'].str.strip()
df.dropna(axis=0, subset=['CustomerID'], inplace=True)
  
df['CustomerID'] = df['CustomerID'].astype('str') 
#df = df[~df['InvoiceID'].str.contains('C')]

In [ ]:
#basket = (df[df['Store'] =="PDG"].groupby(['CustomerID', 'Description'])['QTY'].sum().unstack().reset_index().fillna(0).set_index('CustomerID'))
basket = (df[df['Store'] =="PDG"].groupby(['CustomerID', 'ItemID'])['QTY'].sum().unstack().reset_index().fillna(0).set_index('CustomerID'))
basket.head()

ItemID      100003  100008  100011  100012  ...  121449  121470  121471  121472
CustomerID                                  ...
100002.0       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
100004.0       0.0     0.0     0.0     0.0  ...     0.0     0.0     3.0     0.0
100008.0       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
100011.0       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
100012.0       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 4398 columns]

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 0.1:
        return 1
basket_sets = basket.applymap(encode_units)
 
#menghapus kolom postage
#basket_sets.drop('POSTAGE', inplace=True, axis=1)
basket_sets.head()

ItemID      100003  100008  100011  100012  ...  121449  121470  121471  121472
CustomerID                                  ...
100002.0         0       0       0       0  ...       0       0       0       0
100004.0         0       0       0       0  ...       0       0       1       0
100008.0         0       0       0       0  ...       0       0       0       0
100011.0         0       0       0       0  ...       0       0       0       0
100012.0         0       0       0       0  ...       0       0       0       0

[5 rows x 4398 columns]

In [ ]:
basket_sets.isnull().sum().sum()
#basket.isnull().values.any()

0

In [ ]:
# Build up the frequent items 
frequent_itemsets = apriori(basket_sets, min_support=0.06, use_colnames=True)
frequent_itemsets.head()

    support  itemsets
0  0.060367  (100473)
1  0.125984  (100706)
2  0.135171  (100836)
3  0.110236  (100951)
4  0.209974  (102535)

In [ ]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.8)
rules

          antecedents       consequents  ...  leverage  conviction
0            (100706)          (100836)  ...  0.045963    1.729659
1            (100836)          (100706)  ...  0.045963    1.636793
2            (103161)          (102535)  ...  0.054140    1.425305
3            (102535)          (103161)  ...  0.054140    1.503105
4            (103162)          (102535)  ...  0.032447    1.228930
..                ...               ...  ...       ...         ...
255  (109225, 109223)          (109221)  ...  0.052252    3.488517
256  (109221, 109223)          (109225)  ...  0.050706    5.293088
257          (109225)  (109221, 109223)  ...  0.050706    1.689961
258          (109221)  (109225, 109223)  ...  0.052252    2.327209
259          (109223)  (109225, 109221)  ...  0.051505    2.060722

[260 rows x 9 columns]

In [ ]:
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.4) ]

          antecedents       consequents  ...  leverage  conviction
0            (100706)          (100836)  ...  0.045963    1.729659
1            (100836)          (100706)  ...  0.045963    1.636793
2            (103161)          (102535)  ...  0.054140    1.425305
3            (102535)          (103161)  ...  0.054140    1.503105
6            (104134)          (102535)  ...  0.061842    1.872655
..                ...               ...  ...       ...         ...
255  (109225, 109223)          (109221)  ...  0.052252    3.488517
256  (109221, 109223)          (109225)  ...  0.050706    5.293088
257          (109225)  (109221, 109223)  ...  0.050706    1.689961
258          (109221)  (109225, 109223)  ...  0.052252    2.327209
259          (109223)  (109225, 109221)  ...  0.051505    2.060722

[180 rows x 9 columns]

In [ ]:
output = rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.4) ]

In [ ]:
output.to_csv('/content/drive/MyDrive/Market Basket Analysis/prod/outputMBA_STI_ItemID.csv', index = False)

# Data KHI

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Market Basket Analysis/prod/KHI/KHI_Market_Basket_Analysis_11.csv')
df.head()

    InvoiceID  ItemID  ItemName  ...  QTY  PostingDate                    Description
0  F180000305  100164  KLASSEN   ...  300     01-08-18  KLASSEN SL.3351 REL LACI 35CM
1  F180000305  100165  KLASSEN   ...  300     01-08-18  KLASSEN SL.3351 REL LACI 40CM
2  F180000305  100166  KLASSEN   ...  300     01-08-18  KLASSEN SL.3351 REL LACI 45CM
3  F180000306  100217      HPL   ...   20     01-08-18                     HPL 001 AA
4  F180000306  100218      HPL   ...   20     01-08-18                     HPL 002 AA

[5 rows x 7 columns]

In [ ]:
df['ItemID'] = df['ItemID'].astype(int) 
#df['Description'] = df['Description'].str.strip()
#df['ItemName'] = df['ItemName'].str.strip()
df.dropna(axis=0, subset=['InvoiceID'], inplace=True)
  
#df['CustomerID'] = df['CustomerID'].astype('str') 
df['InvoiceID'] = df['InvoiceID'].astype('str') 
#df = df[~df['InvoiceID'].str.contains('C')]

In [ ]:
basket = (df[df['Store'] =="JKT"].groupby(['InvoiceID', 'ItemID'])['QTY'].sum().unstack().reset_index().fillna(0).set_index('InvoiceID'))
basket.head()

ItemID      100001  100002  100003  100005  ...  100229  100230  100231  100232
InvoiceID                                   ...
F180000305     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
F180000306     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
F180000307     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
F180000308     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
F180000309     0.0     0.0     0.0   200.0  ...     0.0     0.0     0.0     0.0

[5 rows x 166 columns]

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 0.1:
        return 1
basket_sets = basket.applymap(encode_units)
 
#menghapus kolom postage
#basket_sets.drop('POSTAGE', inplace=True, axis=1)
basket_sets.head()

ItemID      100001  100002  100003  100005  ...  100229  100230  100231  100232
InvoiceID                                   ...
F180000305       0       0       0       0  ...       0       0       0       0
F180000306       0       0       0       0  ...       0       0       0       0
F180000307       0       0       0       0  ...       0       0       0       0
F180000308       0       0       0       0  ...       0       0       0       0
F180000309       0       0       0       1  ...       0       0       0       0

[5 rows x 166 columns]

In [ ]:
basket_sets.isnull().sum().sum()
#basket.isnull().values.any()

0

In [ ]:
# Build up the frequent items 
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
frequent_itemsets.head()

    support  itemsets
0  0.314319  (100037)
1  0.183353  (100071)
2  0.188591  (100097)
3  0.195576  (100130)
4  0.210710  (100131)

In [ ]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

          antecedents       consequents  ...  leverage  conviction
0            (100037)          (100071)  ...  0.101274    1.651646
1            (100071)          (100037)  ...  0.101274    5.142608
2            (100097)          (100037)  ...  0.107195    5.846333
3            (100037)          (100097)  ...  0.107195    1.725042
4            (100037)          (100165)  ...  0.024307    1.106531
..                ...               ...  ...       ...         ...
99   (100165, 100167)          (100166)  ...  0.067951    5.025491
100  (100166, 100167)          (100165)  ...  0.065677    3.624008
101          (100165)  (100166, 100167)  ...  0.065677    1.603382
102          (100166)  (100165, 100167)  ...  0.067951    1.663291
103          (100167)  (100165, 100166)  ...  0.064593    1.840693

[104 rows x 9 columns]

In [ ]:
rules[ (rules['lift'] >=1) &
       (rules['confidence'] >= 0.2) ]

          antecedents       consequents  ...  leverage  conviction
0            (100037)          (100071)  ...  0.101274    1.651646
1            (100071)          (100037)  ...  0.101274    5.142608
2            (100097)          (100037)  ...  0.107195    5.846333
3            (100037)          (100097)  ...  0.107195    1.725042
4            (100037)          (100165)  ...  0.024307    1.106531
..                ...               ...  ...       ...         ...
99   (100165, 100167)          (100166)  ...  0.067951    5.025491
100  (100166, 100167)          (100165)  ...  0.065677    3.624008
101          (100165)  (100166, 100167)  ...  0.065677    1.603382
102          (100166)  (100165, 100167)  ...  0.067951    1.663291
103          (100167)  (100165, 100166)  ...  0.064593    1.840693

[104 rows x 9 columns]

In [ ]:
output = rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.2) ]

In [ ]:
output.to_csv('/content/drive/MyDrive/Market Basket Analysis/prod/outputMBA_KHI_ItemID.csv', index = False)

# USD

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Market Basket Analysis/prod/USD/USD_Market_Basket_Analysis_11.csv')
df.head()

   CustomerID  ItemID ItemName Store  QTY PostingDate   Description
0      100002  100006    IKAD    PLM    8    29-05-20  IKAD DX 3133
1      100002  100015    IKAD    PLM    2    20-01-20  IKAD GE 7415
2      100002  100018    IKAD    PLM   10    16-11-19  IKAD GE 7621
3      100002  100083    IKAD    PLM    6    22-01-20  IKAD SX 8575
4      100002  100083    IKAD    PLM    3    24-01-20  IKAD SX 8575

In [ ]:
df['ItemID'] = df['ItemID'].astype(int)
#df['Description'] = df['Description'].str.strip()
#df['ItemName'] = df['ItemName'].str.strip()
df.dropna(axis=0, subset=['CustomerID'], inplace=True)
  
df['CustomerID'] = df['CustomerID'].astype('str') 
#df['InvoiceID'] = df['InvoiceID'].astype('str') 
#df = df[~df['InvoiceID'].str.contains('C')]

In [ ]:
#basket = (df[df['Store'] =="PDG"].groupby(['CustomerID', 'Description'])['QTY'].sum().unstack().reset_index().fillna(0).set_index('CustomerID'))
basket = (df[df['Store'] =="PDG"].groupby(['CustomerID', 'ItemID'])['QTY'].sum().unstack().reset_index().fillna(0).set_index('CustomerID'))
basket.head()

ItemID      100006  100015  100016  100017  ...  101208  101209  101210  101211
CustomerID                                  ...
100477         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
100478         2.0     7.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
100479       603.0   160.0    62.0     0.0  ...     0.0     0.0     0.0    13.0
100480        12.0    64.0     0.0    23.0  ...     0.0     0.0     0.0     0.0
100481         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 565 columns]

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 0.1:
        return 1
basket_sets = basket.applymap(encode_units)
 
#menghapus kolom postage
#basket_sets.drop('POSTAGE', inplace=True, axis=1)
basket_sets.head()

ItemID      100006  100015  100016  100017  ...  101208  101209  101210  101211
CustomerID                                  ...
100477           0       0       0       0  ...       0       0       0       0
100478           1       1       0       0  ...       0       0       0       0
100479           1       1       1       0  ...       0       0       0       1
100480           1       1       0       1  ...       0       0       0       0
100481           0       0       0       0  ...       0       0       0       0

[5 rows x 565 columns]

In [ ]:
basket_sets.isnull().sum().sum()
#basket.isnull().values.any()

0

In [ ]:
# Build up the frequent items 
frequent_itemsets = apriori(basket_sets, min_support=0.3, use_colnames=True)
frequent_itemsets.head()

    support  itemsets
0  0.300000  (100041)
1  0.652381  (100056)
2  0.323810  (100066)
3  0.342857  (100323)
4  0.580952  (100627)

In [ ]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

           antecedents               consequents  ...  leverage  conviction
0             (100056)                  (100627)  ...  0.049569    1.221479
1             (100627)                  (100056)  ...  0.049569    1.325298
2             (100056)                  (100629)  ...  0.073379    1.366893
3             (100629)                  (100056)  ...  0.073379    1.570723
4             (100640)                  (100056)  ...  0.066553    1.537546
...                ...                       ...  ...       ...         ...
1025  (100629, 100871)          (100832, 101066)  ...  0.138367    2.162286
1026          (100832)  (101066, 100629, 100871)  ...  0.132857    1.996429
1027          (101066)  (100832, 100629, 100871)  ...  0.090295    1.259752
1028          (100629)  (100832, 101066, 100871)  ...  0.114649    1.408071
1029          (100871)  (100832, 101066, 100629)  ...  0.095918    1.353383

[1030 rows x 9 columns]

In [ ]:
rules[ (rules['lift'] >=1) &
       (rules['confidence'] >= 0.8) ]

                   antecedents       consequents  ...  leverage  conviction
9                     (100825)          (100056)  ...  0.080023    1.884461
11                    (100832)          (100056)  ...  0.088730    2.433333
15                    (100851)          (100056)  ...  0.061406    1.758543
19                    (100904)          (100056)  ...  0.067211    2.085714
21                    (100907)          (100056)  ...  0.063900    2.032234
...                        ...               ...  ...       ...         ...
1006          (100832, 100825)  (101066, 100629)  ...  0.124218    3.006593
1016  (100832, 101066, 100629)          (100871)  ...  0.095918    2.678571
1017  (100832, 101066, 100871)          (100629)  ...  0.114649    7.019048
1018  (100832, 100629, 100871)          (101066)  ...  0.090295    4.792381
1022          (100832, 100871)  (101066, 100629)  ...  0.128844    3.459740

[310 rows x 9 columns]

In [ ]:
output = rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.8) ]

In [ ]:
#output.to_csv('/content/drive/MyDrive/Market Basket Analysis/outputMBA_USD.csv', index = False)
output.to_csv('/content/drive/MyDrive/Market Basket Analysis/prod/outputMBA_USD_ItemID.csv', index = False)