#FSN Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#Load the data
#import drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv('/content/drive/My Drive/Inventory Management/Input/FSN_data.csv')

In [4]:
data.head()

   No_item   Brand Dept  Stok_Awal  Stok_Akhir  Demand
0   100002   LIST   PDG        0.0         0.0     0.0
1   100003  ATOOL   PDG       40.0        38.0     2.0
2   100008  ATOOL   PDG       16.0        13.0     3.0
3   100011  ATOOL   PDG       10.0        10.0     0.0
4   100012  ATOOL   PDG       39.0        39.0     0.0

In [5]:
def FSN_segmentation(tor):
    '''
    Creates the 3 classes F, S, and N based 
    on TOR / Turn Over Ratio (F > 3, 1 < S < 3, N < 1)
    '''
    if tor > 3 and not 'inf' and not '-inf':
        return 'F'
    elif tor > 1 and tor < 3:
        return 'S'
    elif tor < 1:
        return 'N'
    elif tor == 'inf':
        return '0'
    elif tor == '-inf':
        return '0'

def Demand_Class(dem):
    if dem == 0:
      return '0'

In [6]:
# take a subset of the data, we need to use the price and the quantity of each item
data_sub = data[['No_item','Brand','Dept','Stok_Awal', 'Stok_Akhir', 'Demand']]

# create the column of the Average Inventory
data_sub['Avg_inv'] = (data_sub['Stok_Awal'] + data_sub['Stok_Akhir']) / 2

# Average inventory total = total avg inv / 12 bulan
data_sub['Avg_inv_tot'] = data_sub['Avg_inv'] / 12

data_sub['Demand'] == data_sub['Demand']

#data_sub['TOR'] = data_sub['Demand'].apply(Demand_Class)
data_sub['Avg_inv_tot'] / data_sub['Demand']
data_sub['TOR'] = data_sub['Avg_inv_tot'] / data_sub['Demand']

In [7]:
data_sub['Class_FSN'] = data_sub['TOR'].apply(FSN_segmentation)

In [9]:
data_sub.head()

   No_item   Brand Dept  Stok_Awal  ...  Avg_inv  Avg_inv_tot       TOR  Class_FSN
0   100002   LIST   PDG        0.0  ...      0.0     0.000000       NaN       None
1   100003  ATOOL   PDG       40.0  ...     39.0     3.250000  1.625000          S
2   100008  ATOOL   PDG       16.0  ...     14.5     1.208333  0.402778          N
3   100011  ATOOL   PDG       10.0  ...     10.0     0.833333       inf       None
4   100012  ATOOL   PDG       39.0  ...     39.0     3.250000       inf       None

[5 rows x 10 columns]

In [10]:
#Data output: Product recommendationnya gabung dalam satu kolom
df_output = data_sub[['Dept', 'Class_FSN', 'Brand', 'No_item', 'TOR']].drop_duplicates()

In [11]:
#OUTPUT CSV
df_output.to_csv('result_FSN_sti.csv', index=False)

In [12]:

def create_output(print_json=True):
  df_output = data_sub[['Dept', 'Class', 'Brand', 'No_item', 'TOR']].drop_duplicates() \
        .sort_values('Dept').set_index('Dept')
  if print_json:
    df_output.to_json('/content/drive/My Drive/Inventory Management/FSN_Sti_output.json')
    print("An output file can be found in 'output' folder with name 'option1_recommendation.json'")
  return df_output

In [14]:
print(df_output.shape)
df_output.head()

(11552, 5)

  Dept Class_FSN   Brand  No_item       TOR
0  PDG      None   LIST    100002       NaN
1  PDG         S  ATOOL    100003  1.625000
2  PDG         N  ATOOL    100008  0.402778
3  PDG      None  ATOOL    100011       inf
4  PDG      None  ATOOL    100012       inf

In [15]:
#Format Output
finalList = []
finalDict = {}
grouped = df_output.groupby(['Dept'])
# Group per deptCode
for key, value in grouped:        
      #print(key)
      #print(value)
      deptCode = grouped.get_group(key).reset_index(drop=True)

      deptCodeList= []
      deptCodeDict = {}
      ObjectValue = {}
      #fsn class
      grouped_FSN = deptCode.groupby(['Dept','Class_FSN'])
      FSNObjectValue = {}
      for keyFSN, valueFSN in grouped_FSN:
          FSNList = []
          namaFSN = keyFSN[1]
          FSNCode = grouped_FSN.get_group(keyFSN).reset_index(drop=True)
      
      grouped_Brand = FSNCode.groupby(['Class_FSN','Brand'])
      
      BrandObjectValue = {}
      for keyBrand, valueBrand in grouped_Brand: 
          BrandList= []
          namaBrand = keyBrand[1]
          
          BrandCode = grouped_Brand.get_group(keyBrand).reset_index(drop=True)

          for i_Brand in BrandCode.index:
            BrandDict = {}
            BrandDict['No_item'] = BrandCode.at[i_Brand, 'No_item']
            BrandDict['TOR'] = BrandCode.at[i_Brand, 'TOR']
            BrandList.append(BrandDict)
          BrandObjectValue[namaBrand] = BrandList
      FSNObjectValue[namaFSN] = BrandObjectValue
      # print(BrandObjectValue)
      deptCodeList.append(FSNObjectValue)
      deptCodeDict[key] = deptCodeList
      # print(deptCodeDict)

      finalList.append(deptCodeDict)
import json
print(finalList)

[{'PDG': [{'S': {'AFA ': [{'No_item': 107989, 'TOR': 2.576388888888889}], 'AM ': [{'No_item': 112225, 'TOR': 1.4583333333333333}], 'AND ': [{'No_item': 108070, 'TOR': 2.263888888888889}, {'No_item': 119830, 'TOR': 1.9583333333333333}], 'ATOOL ': [{'No_item': 100003, 'TOR': 1.625}, {'No_item': 100160, 'TOR': 2.2083333333333335}, {'No_item': 100169, 'TOR': 1.125}, {'No_item': 109000, 'TOR': 1.375}], 'BAUT ': [{'No_item': 100482, 'TOR': 1.4583333333333333}], 'BENZ ': [{'No_item': 103098, 'TOR': 1.125}, {'No_item': 107932, 'TOR': 2.4583333333333335}], 'BOSCH ': [{'No_item': 106675, 'TOR': 1.0416666666666667}], 'BREMEN ': [{'No_item': 111552, 'TOR': 1.2083333333333333}], 'DELIZIA ': [{'No_item': 107920, 'TOR': 2.225}], 'ECO ': [{'No_item': 112302, 'TOR': 1.9027777777777777}], 'EURO ': [{'No_item': 105744, 'TOR': 1.8761111111111113}], 'EWIGE ': [{'No_item': 116947, 'TOR': 1.4166666666666667}], 'FERZA ': [{'No_item': 109342, 'TOR': 1.0694444444444444}], 'FIT ': [{'No_item': 102988, 'TOR': 1.2416666666666667}, {'No_item': 116888, 'TOR': 1.097222222222222}], 'HUBEN ': [{'No_item': 101705, 'TOR': 1.1527777777777777}, {'No_item': 105697, 'TOR': 1.1666666666666667}, {'No_item': 108636, 'TOR': 1.2488095238095238}, {'No_item': 108998, 'TOR': 2.208333333333333}, {'No_item': 110968, 'TOR': 1.4583333333333333}], 'KACA ': [{'No_item': 116913, 'TOR': 2.8108974358974357}], 'KLASSEN ': [{'No_item': 109684, 'TOR': 1.8564814814814814}, {'No_item': 109706, 'TOR': 2.1527777777777777}, {'No_item': 110006, 'TOR': 1.7083333333333333}], 'LAG ': [{'No_item': 106832, 'TOR': 2.816666666666667}], 'MAKITA ': [{'No_item': 108786, 'TOR': 1.5416666666666667}], 'MAKTEC ': [{'No_item': 104140, 'TOR': 1.0416666666666667}, {'No_item': 105487, 'TOR': 1.7916666666666667}, {'No_item': 107444, 'TOR': 1.5416666666666667}, {'No_item': 108265, 'TOR': 2.125}], 'MASSAKI ': [{'No_item': 104429, 'TOR': 1.1083333333333334}, {'No_item': 107852, 'TOR': 1.4583333333333333}], 'MASTERLINE ': [{'No_item': 111065, 'TOR': 1.9166666666666667}], 'MC ': [{'No_item': 111013, 'TOR': 1.0416666666666667}], 'NEPEL ': [{'No_item': 106479, 'TOR': 2.25}], 'NICHOLSON ': [{'No_item': 102888, 'TOR': 1.375}], 'NKS ': [{'No_item': 112214, 'TOR': 2.4583333333333335}], 'NOMOR ': [{'No_item': 111080, 'TOR': 2.4583333333333335}, {'No_item': 111085, 'TOR': 1.7083333333333333}, {'No_item': 111087, 'TOR': 2.5}], 'OHIO ': [{'No_item': 110104, 'TOR': 1.475}, {'No_item': 110106, 'TOR': 1.0416666666666667}, {'No_item': 110108, 'TOR': 1.2916666666666667}, {'No_item': 110116, 'TOR': 2.4583333333333335}, {'No_item': 110773, 'TOR': 1.5544871794871795}], 'PAKU ': [{'No_item': 102975, 'TOR': 1.7916666666666667}, {'No_item': 112603, 'TOR': 2.5972222222222223}, {'No_item': 112605, 'TOR': 1.9305555555555556}, {'No_item': 112606, 'TOR': 2.1666666666666665}], 'RUCIKA ': [{'No_item': 112453, 'TOR': 1.5297619047619049}, {'No_item': 112454, 'TOR': 1.4953703703703705}], 'SELLERY ': [{'No_item': 103907, 'TOR': 2.5416666666666665}, {'No_item': 106433, 'TOR': 1.625}], 'SIKU ': [{'No_item': 103973, 'TOR': 1.2202380952380951}], 'SJT ': [{'No_item': 110755, 'TOR': 1.425}], 'SKRUP ': [{'No_item': 104020, 'TOR': 2.0}], 'SOLIGEN ': [{'No_item': 104054, 'TOR': 1.2916666666666667}], 'STANDAT ': [{'No_item': 112213, 'TOR': 1.6875}], 'STI ': [{'No_item': 109745, 'TOR': 1.875}, {'No_item': 109785, 'TOR': 1.4886363636363635}, {'No_item': 109793, 'TOR': 2.375}], 'TACO ': [{'No_item': 104189, 'TOR': 1.4895833333333333}, {'No_item': 104251, 'TOR': 1.7083333333333333}, {'No_item': 106259, 'TOR': 2.375}, {'No_item': 107490, 'TOR': 2.0416666666666665}, {'No_item': 109025, 'TOR': 1.0833333333333333}, {'No_item': 109428, 'TOR': 1.875}, {'No_item': 109619, 'TOR': 1.1875}, {'No_item': 109987, 'TOR': 1.3333333333333333}, {'No_item': 110069, 'TOR': 1.2291666666666667}, {'No_item': 110124, 'TOR': 2.5}], 'TAIYO ': [{'No_item': 104303, 'TOR': 1.6944444444444444}, {'No_item': 104304, 'TOR': 1.1811224489795917}, {'No_item': 104306, 'TOR': 1.9523809523809523}, {'No_item': 104307, 'TOR': 2.0833333333333335}], 'THINNER ': [{'No_item': 116929, 'TOR': 1.5416666666666667}], 'TUTUP ': [{'No_item': 111107, 'TOR': 1.28125}], 'WASSER ': [{'No_item': 111991, 'TOR': 2.375}]}}]}, {'PKU': [{'S': {'BILLIONER ': [{'No_item': 109924, 'TOR': 1.4583333333333333}], 'CARTA ': [{'No_item': 111516, 'TOR': 1.5416666666666667}, {'No_item': 111527, 'TOR': 1.4583333333333333}, {'No_item': 111532, 'TOR': 1.4583333333333333}, {'No_item': 111534, 'TOR': 2.5416666666666665}, {'No_item': 111537, 'TOR': 1.9583333333333333}, {'No_item': 112168, 'TOR': 1.7916666666666667}, {'No_item': 112182, 'TOR': 2.0416666666666665}, {'No_item': 112184, 'TOR': 1.2083333333333333}, {'No_item': 112194, 'TOR': 1.513888888888889}, {'No_item': 112195, 'TOR': 1.8125}, {'No_item': 112196, 'TOR': 2.5416666666666665}, {'No_item': 112246, 'TOR': 1.375}, {'No_item': 112259, 'TOR': 1.2083333333333333}, {'No_item': 112316, 'TOR': 1.2083333333333333}, {'No_item': 112359, 'TOR': 1.2083333333333333}, {'No_item': 112361, 'TOR': 2.0416666666666665}, {'No_item': 112383, 'TOR': 1.3125}, {'No_item': 112384, 'TOR': 1.625}, {'No_item': 112396, 'TOR': 2.0416666666666665}, {'No_item': 112401, 'TOR': 1.5}, {'No_item': 112404, 'TOR': 1.125}, {'No_item': 116881, 'TOR': 1.2083333333333333}], 'KLASSEN ': [{'No_item': 109501, 'TOR': 1.3125}, {'No_item': 109574, 'TOR': 1.7333333333333334}, {'No_item': 109660, 'TOR': 2.3392857142857144}, {'No_item': 109661, 'TOR': 2.736111111111111}, {'No_item': 109680, 'TOR': 1.5416666666666667}, {'No_item': 110009, 'TOR': 1.0416666666666667}, {'No_item': 110011, 'TOR': 1.1333333333333333}, {'No_item': 110165, 'TOR': 2.9583333333333335}], 'OHIO ': [{'No_item': 110105, 'TOR': 1.0416666666666667}], 'PLAT ': [{'No_item': 103061, 'TOR': 1.5972222222222223}, {'No_item': 107135, 'TOR': 1.75}], 'STI ': [{'No_item': 109741, 'TOR': 1.0416666666666667}, {'No_item': 109787, 'TOR': 2.0}]}}]}]

In [16]:
df_output.dtypes

Dept          object
Class_FSN     object
Brand         object
No_item        int64
TOR          float64
dtype: object

In [17]:

df_output['No_item'] =df_output['No_item'].apply(lambda x:str(x))

In [19]:
#NEWEDIT Format Output Cara 1 : AMBERCODE
finalList = []
finalDict = {}
grouped = df_output.groupby('Dept')
#print(grouped['Dept'].count())
# BLOK A
for key, value in grouped:        
    deptCode = grouped.get_group(key).reset_index(drop=True)
    deptCodeList= []
    deptCodeDict = {}
    ObjectValue = {}
    
    #BLOK B
    grouped_FSN = deptCode.groupby(['Dept','Class_FSN'])
    print(grouped_FSN['Class_FSN'].count())
    FSNObjectValue = {}
    for keyFSN, valueFSN in grouped_FSN:
        FSNList = []
        namaFSN = keyFSN[1]
        FSNCode = grouped_FSN.get_group(keyFSN).reset_index(drop=True)
        
        #BLOK C
        grouped_Brand = FSNCode.groupby(['Class_FSN','Brand'])
        # print(grouped_Brand['Brand'].count())
        # print(grouped_FSN.count())
        BrandObjectValue = {}
        for keyBrand, valueBrand in grouped_Brand: 
            BrandObjectValue = {}
            BrandList= []
            namaBrand = keyBrand[1]
            BrandCode = grouped_Brand.get_group(keyBrand).reset_index(drop=True)
            
            #BLOK D
            for i_Brand in BrandCode.index:
              BrandDict = {}
              BrandDict['No_item'] = BrandCode.at[i_Brand, 'No_item']
              BrandDict['TOR'] = BrandCode.at[i_Brand, 'TOR']
              BrandList.append(BrandDict)          
            BrandObjectValue[namaBrand] = BrandList

        FSNObjectValue[namaFSN] = BrandObjectValue

deptCodeList.append(FSNObjectValue)
deptCodeDict[key] = deptCodeList

finalList.append(deptCodeDict)
import json
print(finalList)

Dept  Class_FSN
PDG   N            2067
      S              83
Name: Class_FSN, dtype: int64
Dept  Class_FSN
PKU   N            493
      S             36
Name: Class_FSN, dtype: int64
[{'PKU': [{'N': {'WALL ': [{'No_item': '104632', 'TOR': 0.016856392294220666}, {'No_item': '104634', 'TOR': 0.012681159420289856}, {'No_item': '104635', 'TOR': 0.019136807817589578}, {'No_item': '104640', 'TOR': 0.10138888888888889}, {'No_item': '107460', 'TOR': 0.04166666666666667}, {'No_item': '110823', 'TOR': 0.041666666666666664}, {'No_item': '119995', 'TOR': 0.0}]}, 'S': {'STI ': [{'No_item': '109741', 'TOR': 1.0416666666666667}, {'No_item': '109787', 'TOR': 2.0}]}}]}]

In [20]:
finalList = []
finalDict = {}
grouped = df_output.groupby(['Dept'])
# Group per deptCode
for key, value in grouped:        
      deptCode = grouped.get_group(key).reset_index(drop=True)
      print(deptCode)

     Dept Class_FSN   Brand No_item       TOR
0     PDG      None   LIST   100002       NaN
1     PDG         S  ATOOL   100003  1.625000
2     PDG         N  ATOOL   100008  0.402778
3     PDG      None  ATOOL   100011       inf
4     PDG      None  ATOOL   100012       inf
...   ...       ...     ...     ...       ...
5771  PDG      None   TANG   120006       NaN
5772  PDG      None  OBENG   120007       NaN
5773  PDG      None    LEM   120009       NaN
5774  PDG      None   KUAS   120010       NaN
5775  PDG      None  KUNCI   120011       NaN

[5776 rows x 5 columns]
     Dept Class_FSN   Brand No_item  TOR
0     PKU      None   LIST   100002  NaN
1     PKU      None  ATOOL   100003  NaN
2     PKU      None  ATOOL   100008  NaN
3     PKU      None  ATOOL   100011  NaN
4     PKU      None  ATOOL   100012  NaN
...   ...       ...     ...     ...  ...
5771  PKU      None   TANG   120006  NaN
5772  PKU      None  OBENG   120007  NaN
5773  PKU      None    LEM   120009  NaN
5774  PKU      None   KUAS   120010  NaN
5775  PKU      None  KUNCI   120011  NaN

[5776 rows x 5 columns]

In [22]:
#Save Result
file_name = "resultFSN.json"
with open(file_name, "w") as fid:
  json.dump(finalList, fid)

In [23]:
df_output.dtypes

Dept          object
Class_FSN     object
Brand         object
No_item       object
TOR          float64
dtype: object

In [24]:
df_output['No_item'] =df_output['No_item'].apply(lambda x:str(x))